/* WORKING IN PROGRESS */
.containerWorking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-containerWorking {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pfp{
  width: 100%;
}

.workingPhrase {
  font-family: 'Staatliches', cursive;
  font-size: large;
  color: white;
}

.git{
  width: 10%;    
  transition: filter 0.3s ease-in-out;
}

.git:hover{
  filter: brightness(50%);    
}

body {
  background-color: #816C61;
  margin: 0;
}

/* presentation  */

.presentation-label{
  height: 40rem;
  background-color: #1E1E1E;  
}

.presentation-label>h1{
  margin: 0;
}

/* languageChanger  */
.language-changer{
  background-color: #2A2C24;
}

.language-changer>h1{
  margin: 0;
}

.containerWorking a{
  display: flex;
  justify-content: center;
}

/* 
colorPalette 
1E1E1E
2A2C24 
575A4B
816C61
A89B9D
CFCFEA

*/