@import "react-slideshow-image/dist/styles.css";

/* SPECIFIC SETTINGS */
* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
}

/* ANIMATIONS  */
@keyframes breathe {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* 
colorPalette 
1E1E1E
2A2C24 
575A4B
816C61
A89B9D
CFCFEA

*/

::-webkit-scrollbar-track {
  background: #CFCFEA;
}

::-webkit-scrollbar-thumb {
  background: #2A2C24;
}

/* WORKING IN PROGRESS */
.containerWorking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-containerWorking {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pfp {
  width: 100%;
}

.workingPhrase {
  font-family: 'Staatliches', cursive;
  font-size: large;
  color: white;
}

.git {
  width: 10%;
  transition: filter 0.3s ease-in-out;
}

.git:hover {
  filter: brightness(50%);
}

body {
  background-color: #CFCFEA;
  margin: 0;
}


/* LANGUAGUE CHANGER  */
.language-changer {
  background-color: #2A2C24;
}

.language-changer>p {
  margin: 0;
  font-size: 1rem;
  color: #CFCFEA;
  cursor: pointer;
}

.containerWorking a {
  display: flex;
  justify-content: center;
}

/* PRESENTATION */

.presentation-container {
  width: 100%;
  background-color: #1E1E1E;
  height: 40rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
}

.presentation-label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.presentation-label>p {
  margin: 0;
  text-align: center;
}

.presentation {
  font-size: 4rem;
  color: #A89B9D;
  width: 20rem;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgb(0 0 0 / 61%);
}

.description {
  font-size: 1.5rem;
  color: #CFCFEA;
  padding: 1rem;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgba(255, 255, 255, 0.1);
}

.presentation-logo>img {
  width: 30rem;
  margin-left: 5rem;
  transform: rotate(20deg);
  overflow: hidden;
}

/* CONTENT */
.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30%;
}

/* CAREER CONTENT */

.career-container {
  width: 90%;
  margin: 0 auto;
}

.career-title {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 2.5rem;
  color: #2A2C24;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.career-title>.right-hr {
  width: 76rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.career-title-hr {
  margin: 1rem;
  flex-grow: 1;
  border: 0.1rem solid #1E1E1E;
}

.career-divisor {
  margin: 2rem;
  margin-bottom: 3rem;
  border: 0.1rem solid #1E1E1E;
  box-shadow: 0em 0.1em 0em 0em rgba(0, 0, 0, 0.1);
}

.career-end {
  margin: 2rem auto;
  margin-bottom: 3rem;
  border: 0.1rem solid #1E1E1E;
  width: 90%;
  display: block;
}

.career-subtitle {
  margin: 2rem;
  font-size: 1.8rem;
  color: #1E1E1E;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  cursor: default;
}

.career-subtitle>p {
  text-shadow: 0.1rem 0.3rem rgba(255, 255, 255, 0.1);
}

.career-subtitle>.right-hr {
  width: 90%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.career-subtitle>.circle-title {
  height: 0.2rem;
  width: 0.2rem;
  background-color: #1E1E1E;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.centered {
  width: 100%;
  display: flex;
  justify-content: center;
}


.career-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.career-content>p {
  color: #2A2C24;
  font-size: 2rem;
  text-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.career-long-hr {
  border: 0.1rem solid #1E1E1E;
  width: 80rem;
  margin: 0;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
}

.career-line {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.career-start-line>.circle-title,
.career-end-line>.circle-title {
  border-color: #1E1E1E;
  margin: -0.5rem;
  width: 0.8rem;
  height: 0.8rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.career-start-line>p,
.career-end-line>p {
  color: #1E1E1E;
  font-size: 1.4rem;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  cursor: default;
}

.career-start-line,
.career-end-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1rem;
}

.career-featured-container {
  position: absolute;
  display: flex;
  margin-left: 11rem;
}

.career-featured-content {
  margin-top: -2.3rem;
  margin-right: 10rem;
}

.career-featured-content>hr {
  border: 0.1rem solid #1E1E1E;
}

.career-featured-content>.diagonal-hr {
  margin-bottom: 1.7rem;
  margin-top: 0rem;
  width: 5rem;
  rotate: calc(135deg);
  margin-left: 0;
}

.career-featured-content>.horizontal-hr {
  width: 3rem;
  margin-top: -5.3rem;
  margin-left: 4.3rem;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.horizontal-hr>p {
  margin-top: -1.8rem;
  margin-left: 4rem;
  color: #1E1E1E;
  font-size: 1.6rem;
  text-wrap: nowrap;
  cursor: default;
}

.horizontal-hr-long {
  font-size: 1rem !important;
  padding-bottom: 1rem;
  cursor: default;
}

.horizontal-hr>hr {
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
  border: 0.1rem solid #1E1E1E;
}

.career-featured-content>.circle-title {
  border-color: #1E1E1E;
  width: 0.8rem;
  height: 0.8rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  margin-top: 1.2rem;
  background-color: #816C61;
  margin-left: 0.2rem;
}

.career-featured-content>p {
  color: #1E1E1E;
  font-size: 1.4rem;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  margin-left: -1rem;
  cursor: default;
}

.career-content>.career-content-description {
  color: #1E1E1E;
  width: 83rem;
  font-size: 1.3rem;
  cursor: default;
}

.career-content-title {
  left: -26rem;
  position: relative;
  cursor: default;
}

/* TOOLS SECTION */

.tools-container {
  width: 100%;
  background-color: #1E1E1E;
  margin: 1rem;
  margin-bottom: 10%;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.tools-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tool-item {
  padding-left: 7rem;
  padding-right: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-item>img {
  height: 7rem;
  cursor: default;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
}

.tool-item>img:hover {
  padding-top: 1rem;
}

.tools-title {
  padding: 1rem;
  padding-left: 7rem;
  padding-bottom: 5rem;
  color: #CFCFEA;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgba(255, 255, 255, 0.1);
}

.tools-title .left-hr {
  width: 2rem;
  margin-right: 1rem;
  margin-left: 0rem;
  border: 0.1rem solid #816C61;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.tools-title .circle-title {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #816C61;
  background-color: transparent;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.tools-title .right-hr {
  width: 75%;
  margin-left: 1rem;
  border: 0.1rem solid #816C61;
  margin-right: 0rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

/* FOOTER */

.footer-container {
  background-color: #1E1E1E;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.footer-title>.left-hr,
.footer-title>.right-hr,
.footer-title>.circle-title {
  border: 0.1rem solid #816C61;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.footer-title>p {
  color: #CFCFEA;
  font-size: 2rem;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgba(255, 255, 255, 0.1);
}

.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-title .left-hr,
.footer-title .right-hr {
  width: 20rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.footer-items {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.footer-items>p {
  color: #CFCFEA;
  font-size: 1.3rem;
  cursor: default;
}

.items-icons {
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 5rem;
}

.items-icons>img {
  width: 2rem;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.items-icons>img:hover {
  box-shadow: 0em 0.3em 0em 0em rgba(255, 255, 255, 0.1);
  padding-bottom: 1rem;
}

/* FEATURED CONTENT */

.featured-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.featured-title>p {
  font-size: 3.5rem;
  color: #2A2C24;
  cursor: default;
}

.left-hr {
  width: 2rem;
  margin-right: 1rem;
  margin-left: 0rem;
  border: 0.1rem solid #1E1E1E;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.circle-title {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #1E1E1E;
  background-color: transparent;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.right-hr {
  width: 51rem;
  margin-left: 1rem;
  border: 0.1rem solid #1E1E1E;
  margin-right: 0rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

/* SLIDER FEATURED PROJECTS */

.slide-container>.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 99;
  transition: all 0.2s ease-in-out;
}

/* Estilo para overlay inactivo */
.slide-container>.overlay-inactive {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 99;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.project-preview-container {
  height: 30rem;
  width: 50rem;
  background: #1E1E1E;
  flex-direction: row;
  align-items: center;
  top: 30%;
  left: 27%;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #1E1E1E;
}

.project-preview {
  height: 90%;
  width: 90%;
  background-color: #1E1E1E;
  margin: 1rem;
  color: #A89B9D;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.project-preview-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.project-preview-title>.circle-title {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #CFCFEA;
  background-color: transparent;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.project-preview-title>p {
  font-size: 3rem;
  color: #A89B9D;
  cursor: default;
}

.project-preview-title>.left-hr {
  width: 1rem;
  border: 0.1rem solid #CFCFEA;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.project-preview>.right-hr {
  width: 20rem;
  border: 0.1rem solid #CFCFEA;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}

.project-preview-left>p {
  font-size: 1.3rem;
  padding-left: 3rem;
  color: #CFCFEA;
  cursor: default;
}

.project-review-link {
  color: #816C61 !important;
  cursor: pointer !important;
}

.project-preview-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.project-preview-right>img {
  width: 16rem;
  padding-top: 1rem;
}

.overlay-close-button>img {
  height: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  margin-bottom: 26rem;
}

.overlay-close-button>img:hover {
  rotate: calc(90deg);
  transition: all 0.2s ease-in-out;
}

.overlay-close-button {
  padding-left: 1rem;
}

.slide-container {
  width: 60rem;
  margin: auto;

  padding: 0.2rem;
  border-radius: 0.5rem;
  height: 28rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #282828;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #1E1E1E;
  color: #CFCFEA;
  height: 15rem;
  width: 36rem;
  left: -59%;
  z-index: 0;
  opacity: 0.2;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
  margin-top: 2.5rem;
  font-size: 0.8rem;
  pointer-events: none;
}

.project-card>.project-info>.project-description {
  opacity: 0;
}

.middle-card>.project-info>.project-description {
  opacity: 1;
}

.middle-card {
  height: 20rem;
  position: relative;
  z-index: 1;
  opacity: 1;
  margin-top: 0rem;
  font-size: 2rem;
  pointer-events: all;
}

.middle-card .project-img-container img {
  max-width: 24rem;
  height: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}

.middle-card .project-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #A89B9D;
  transition: all 0.5s ease;
}

.project-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #A89B9D;
  cursor: default;
}

.project-card>hr {
  width: 100%;
  border: 1px solid #CFCFEA;
}

.project-info {
  display: flex;
  align-items: flex-start;
  cursor: default;
}

.project-img-container {
  margin-right: 20px;
}

.project-img-container img {
  max-width: 19rem;
  height: auto;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.project-description {
  font-size: 16px;
  max-width: 400px;
}

.slideButtonNext,
.slideButtonPrev {
  opacity: 1;
  background-color: transparent;
  border: transparent;
  top: 10rem;
  animation: breathe 3s infinite alternate;
}

.slideButtonNext>img,
.slideButtonPrev>img {
  height: 5rem;
  transition: all 0.2s ease;
}

.slideButtonNext>img:active,
.slideButtonPrev>img:active {
  box-shadow: 0rem 0.1rem 0.2rem -0.2rem #1E1E1E;
  transform: translateY(0.1rem);
}

.slideButtonPrev>img {
  right: 5rem;
  position: absolute;
}

.slideButtonNext>img {
  left: 5rem;
  position: absolute;
}

.slideButtonNext>img:hover {
  translate: calc(0.5rem);
}

.slideButtonPrev>img:hover {
  translate: calc(-0.5rem);
}

.slideButtonPrev:hover,
.slideButtonNext:hover {
  animation: none;
}


/* 4k RES */
@media (max-width: 2560px) {
  .career-title>.right-hr {
    width: 122rem;
  }
}

/* LAPTOP L RES */
@media (max-width: 1440px) {

  /* FEATURED CONTENT */
  .right-hr {
    width: 37rem;
  }

  .project-preview-container {
    top: 10%;
    left: 22%;
  }

  .featured-title>p {
    font-size: 2.5rem;
  }

  .middle-card .project-title {
    font-size: 2.5rem;
  }

  .project-card {
    padding: 3rem;
  }

  /* CAREER CONTENT */

  .career-content-title {
    left: -22rem;
  }

  .career-long-hr {
    width: 70rem;
  }

  .career-title>.right-hr {
    width: 59rem;
  }

  .career-content>.career-content-description {
    width: 90%;
  }

  .tools-title {
    padding-left: 2rem;
  }

  .tool-item {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


/* LAPTOP RES */
@media (max-width: 1024px) {

  /* PRESENTATION */
  .presentation-label {
    padding-left: 7rem;
  }

  .presentation-container {
    overflow: hidden;
  }

  /* FEATURED CONTENT */
  .featured-title>p {
    font-size: 2.5rem;
    text-wrap: nowrap;
  }

  .right-hr {
    width: 20rem;
  }

  /* FOOTER */

  .footer-title .left-hr,
  .footer-title .right-hr {
    width: 10rem;
  }

  /* SLIDER */

  .slide-container {
    width: 36rem;
  }

  .project-card {
    width: 18rem;
    height: 5rem;
    font-size: 1rem;
  }

  .middle-card .project-title {
    width: 15rem;
    height: 10rem;
    font-size: 2rem;
  }

  .middle-card .project-img-container img {
    max-width: 10rem;

  }

  .project-img-container img {
    max-width: 10rem;
  }

  .middle-card {
    width: 18rem;
    height: 10rem;
  }

  .slideButtonNext>img,
  .slideButtonPrev>img {
    height: 3rem;
    margin-top: -2rem;
  }

  .project-preview-container {
    height: 50%;
    width: 34rem;
  }

  .project-preview-title>p {
    font-size: 2rem;
  }

  .project-preview-title {
    justify-content: flex-start;
  }

  .project-preview-left>p {
    font-size: 1rem;
    padding-left: 0;
  }

  .project-preview-right {
    width: 14rem;
  }

  .project-preview>.right-hr {
    width: 14rem;
  }

  .project-preview-right>img {
    width: 12rem;
  }

  .overlay-close-button>img {
    margin-bottom: 15rem;
  }

  /* CAREER CONTENT */

  .career-title>.right-hr {
    width: 35rem;
  }

  .career-long-hr {
    width: 50rem;
  }

  /* SPECIALITIES CONTENT */

  .tools-title {
    padding-left: 4rem;
  }

  .tools-title .right-hr {
    width: 60%;
  }

  .tool-item {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .tool-item>img {
    height: 5rem;
  }

  .career-featured-content {
    margin-right: 7rem;
  }

  .career-content-title {
    left: -11rem;
  }

  .horizontal-hr>p {
    font-size: 1.2rem;
  }

  .career-content>.career-content-description {
    width: 90%;
  }

  .career-featured-container {
    margin-left: 5rem;
  }
}

@media (max-width: 768px) {

  /* CAREER SECTION */
  .career-title>.right-hr {
    width: 21rem;
  }

  .career-long-hr {
    width: 38rem;
  }

  .career-content-title {
    left: -4rem;
  }

  .career-featured-container {
    margin-left: 5rem;
  }

  .career-featured-content {
    margin-left: 0rem !important;
    margin-top: -0.8rem;
  }

  .horizontal-hr>p {
    font-size: 1rem !important;
    margin-left: 1rem;
    margin-top: -2.5rem;
    height: 1rem;
  }

  .career-featured-content>.horizontal-hr {
    width: 0.4rem;
    margin-top: -2.4rem;
    margin-left: 2.9rem;
  }

  .career-featured-content>.diagonal-hr {
    width: 1rem;
    rotate: calc(135deg);
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .career-featured-content>.circle-title {
    margin-top: 0.2rem;
    margin-left: 1.2rem;
  }

  .career-featured-content>p {
    margin-top: 2rem;
    margin-left: 0rem;
  }

  .career-end {
    width: 80%;
  }

  .career-content>.career-content-description {
    width: 80%;
    font-size: 1.1rem;
  }

  /* FEATURED PROJECT */

  .slideButtonPrev>img {
    right: -4.4rem;
  }

  .slideButtonNext>img {
    left: -7rem;
  }

  .slideButtonNext>img,
  .slideButtonPrev>img {
    height: 5rem;
    margin-top: -5rem;
    opacity: 0;
    padding: 4rem 0rem 4rem 0rem;
  }

  .middle-card {
    width: 25rem;
    height: 16rem !important;
  }

  .project-card {
    height: 12rem;
  }

  .slide-container {
    width: 45rem;

  }

  .right-hr {
    width: 13rem;
  }

  /* PRESENTATION CARD */

  .presentation-logo>img {
    width: 23rem;
    margin-left: 0;
  }

  .presentation {
    font-size: 3rem;
  }

  .description {
    font-size: 1.3rem;
  }

  .presentation-label {
    padding-left: 7rem;
  }

  /* FOOTER */
  .footer-title>p {
    font-size: 1.2rem;
  }

  /* SPECIALITIES */
  .tools-title .right-hr {
    width: 46%;
  }

  .tool-item>img {
    height: 4rem;
  }
}