@import "react-slideshow-image/dist/styles.css";

/* SPECIFIC SETTINGS */
* {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
}

/* 
colorPalette 
1E1E1E
2A2C24 
575A4B
816C61
A89B9D
CFCFEA

*/

::-webkit-scrollbar-track {
  background: #CFCFEA;
}

::-webkit-scrollbar-thumb {
  background: #2A2C24;
}

/* WORKING IN PROGRESS */
.containerWorking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-containerWorking {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pfp {
  width: 100%;
}

.workingPhrase {
  font-family: 'Staatliches', cursive;
  font-size: large;
  color: white;
}

.git {
  width: 10%;
  transition: filter 0.3s ease-in-out;
}

.git:hover {
  filter: brightness(50%);
}

body {
  background-color: #816C61;
  margin: 0;
}


/* LANGUAGUE CHANGER  */
.language-changer {
  background-color: #2A2C24;
}

.language-changer>p {
  margin: 0;
  font-size: 1rem;
  color: #CFCFEA;
  cursor: pointer;
}

.containerWorking a {
  display: flex;
  justify-content: center;
}

/* PRESENTATION */

.presentation-container {
  width: 100%;
  background-color: #1E1E1E;
  height: 40rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.5);
}

.presentation-label {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.presentation-label>p {
  margin: 0;
}

.presentation {
  font-size: 4rem;
  color: #A89B9D;
  width: 20rem;
  cursor: default;
}

.description {
  font-size: 1.5rem;
  color: #CFCFEA;
  padding: 1rem;
  cursor: default;
}

.presentation-logo>img {
  width: 40rem;
  padding: 5rem;
  margin-left: 5rem;
  transform: rotate(20deg);
}

/* CONTENT */
.content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* CAREER CONTENT */

.career-container {
  width: 90%;
}

.career-title {
  margin: 1rem;
  font-size: 2rem;
  color: #1E1E1E;
}

.career-title-hr {
  margin: 1rem;
}

.career-subtitle-hr {
  margin: 2rem;
}

.career-subtitle {
  margin: 2rem;
  font-size: 1.5rem;
  color: #CFCFEA;
}

.career-content-container {
  width: 90%;
  margin: 2rem;
}

.career-content-title {}

.career-content {}

.divisor-bar {}

/* TOOLS SECTION */

.tools-container {
  width: 100%;
  background-color: #1E1E1E;
  margin: 1rem;
  margin-bottom: 10%;
  height: 30rem;
}

.tools-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tool-item {
  padding-left: 7rem;
  padding-right: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-item>img {
  height: 7rem;
  cursor: default;
  transition: all 0.3s ease-in-out;
  padding: 2rem;
}

.tool-item>img:hover {
  padding-top: 1rem;
}

.tools-title {
  padding: 1rem;
  padding-left: 7rem;
  padding-bottom: 5rem;
  color: #CFCFEA;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgba(255, 255, 255, 0.1);
}

.tools-title .left-hr {
  width: 2rem;
  margin-right: 1rem;
  margin-left: 0rem;
  border: 0.1rem solid #575A4B;
}

.tools-title .circle-title {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #575A4B;
  background-color: transparent;
}

.tools-title .right-hr {
  width: 75%;
  margin-left: 1rem;
  border: 0.1rem solid #575A4B;
  margin-right: 0rem;
}

/* FOOTER */

.footer-container {
  background-color: #1E1E1E;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20rem;
  align-items: center;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.footer-title>p {
  color: #816C61;
  font-size: 2rem;
  cursor: default;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.footer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-title .left-hr,
.footer-title .right-hr {
  width: 20rem;
}

.footer-items {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.footer-items>p {
  color: #CFCFEA;
  font-size: 1.3rem;
  cursor: default;
}

.items-icons {
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 5rem;
}

.items-icons>img {
  width: 2rem;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.items-icons>img:hover {
  box-shadow: 0em 0.3em 0em 0em rgba(255, 255, 255, 0.1);
  padding-bottom: 1rem;
}

/* FEATURED CONTENT */

.featured-title {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}

.featured-title>p {
  font-size: 3.5rem;
  color: #2A2C24;
  cursor: default;
}

.left-hr {
  width: 2rem;
  margin-right: 1rem;
  margin-left: 0rem;
  border: 0.1rem solid #575A4B;
}

.circle-title {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #575A4B;
  background-color: transparent;
}

.right-hr {
  width: 51rem;
  margin-left: 1rem;
  border: 0.1rem solid #575A4B;
  margin-right: 0rem;
}

/* SLIDER FEATURED PROJECTS */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 99;
  transition: all 1s ease-in-out;
}

.project-preview-container {
  height: 30rem;
  width: 50rem;
  background: #1E1E1E;
  flex-direction: row;
  align-items: center;
  top: 30%;
  left: 27%;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #1E1E1E;
}

.project-preview {
  height: 90%;
  width: 90%;
  background-color: #1E1E1E;
  margin: 1rem;
  color: #A89B9D;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project-preview-title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.project-preview-title>.circle-title {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border-style: solid;
  border-color: #CFCFEA;
  background-color: transparent;
}

.project-preview-title>p {
  font-size: 3rem;
  color: #A89B9D;
  cursor: default;
}

.project-preview-title>.left-hr {
  width: 1rem;
  border: 0.1rem solid #CFCFEA;
}

.project-preview>.right-hr {
  width: 20rem;
  border: 0.1rem solid #CFCFEA;
}

.project-preview-left>p {
  font-size: 1.3rem;
  padding-left: 3rem;
  color: #CFCFEA;
  cursor: default;
}

.project-review-link {
  color: #816C61 !important;
  cursor: pointer !important;
}

.project-preview-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.project-preview-right>img {
  width: 16rem;
  padding-top: 1rem;
}

.overlay-close-button>img {
  height: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  margin-bottom: 26rem;
}

.overlay-close-button>img:hover {
  rotate: calc(90deg);
  transition: all 0.2s ease-in-out;
}

.overlay-close-button {
  padding-left: 1rem;
}

.slide-container {
  width: 60rem;
  margin: auto;
  background-color: #816C61;
  padding: 0.2rem;
  border-radius: 0.5rem;
  /* box-shadow: 0rem 0rem 0.5rem #1E1E1E; */
  height: 28rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #282828;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 0.5rem #1E1E1E;
  color: #CFCFEA;
  height: 15rem;
  width: 32rem;
  left: -50%;
  z-index: 0;
  opacity: 0.2;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease;
  margin-top: 2.5rem;
  font-size: 0.8rem;
}

.middle-card {
  height: 20rem;
  position: relative;
  z-index: 1;
  opacity: 1;
  margin-top: 0rem;
  font-size: 2rem;
}

.middle-card .project-img-container img {
  max-width: 24rem;
  height: auto;
  border-radius: 0.5rem;
  cursor: pointer;
}

.middle-card .project-title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #A89B9D;
  transition: all 0.5s ease;
}

.project-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #A89B9D;
  cursor: default;
}

.project-card>hr {
  width: 100%;
  border: 1px solid #CFCFEA;
}

.project-info {
  display: flex;
  align-items: flex-start;
  cursor: default;
}

.project-img-container {
  margin-right: 20px;
}

.project-img-container img {
  max-width: 19rem;
  height: auto;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.project-description {
  font-size: 16px;
  max-width: 400px;
}

.slideButtonNext,
.slideButtonPrev {
  opacity: 1;
  background-color: transparent;
  border: transparent;
}

.slideButtonNext>img,
.slideButtonPrev>img {
  height: 5rem;
  bottom: -2.5rem;
}

.slideButtonNext>img:active,
.slideButtonPrev>img:active {
  transform: translateY(0.1rem);
  box-shadow: 0rem 0.1rem 0.2rem -0.2rem #1E1E1E;
}

.slideButtonPrev>img {
  right: 5rem;
  position: absolute;
}

.slideButtonNext>img {
  left: 5rem;
  position: absolute;
}